@model IEnumerable<Product>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@*@using X.PagedList.Web.Common;*@
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IViewLocalizer localizer

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100 shadow">
                        <!-- Sale badge-->
                        <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@localizer["Sale"]</div>
                        <!-- Product image-->
                        <a asp-action="Details" asp-route-ProductId="@item.Id"><img class="card-img-top" src="~/@item.Img" alt="..." width="450" height="200" /></a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Name</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $@item.Price
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a asp-action="Details" asp-route-ProductId="@item.Id" class="btn btn-outline-dark mt-auto">@localizer["View Details"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>


        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
                new PagedListRenderOptions
                     {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            </div>
        </div>


    </div>
</section>
